container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"
        "footer";
    
	font-family: Verdana;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

header {
    background-color: #2E51A2;
	color: white;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
    background-image: url("./Images/amiibo_bg.jpg");
	background-repeat: repeat;
    margin: 0px;
    justify-items: center;
	font-family: Arial;
}

html, body {
	height: 100%;
	margin: 0;
}

main {
	background-color: white;
	padding: 10px;
	/*min-height: 100%; CAUSES PAGE TO GROW IF INPUTING TEXT?!?!? */
}

#navigationBar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	font-weight: bold;
}

.navigationItem {
	float: left;
}

.navigationItem a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigationItem a:hover {
	display: block;
	background-color: #2E51A2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a {
  display: block;
  padding: 8px;
  background-color: #333;
}

fieldset {
	margin-top: 10px;
	margin-bottom: 10px;
}

footer {
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

#userDisplay{
	display: block;
	color: white;
	float: right;
	padding-top: 16px;
	padding-left: 16px;
	padding-right: 10px;
	font-size: small;
}